/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* remove the default setting of brower */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/**/
/**/

body {background:#f7f0c7}

.main_wrapper{
	width:1000px;
	height:auto;
	margin:auto;
	background:#afc0d7
	
}

.head_wrapper{
	width:1000px;
	height:100px;
}

#logo {float:left;}
#bogo {float:right;}


.menu_wrapper{
	width:1000px;
	height:50px;
	background:#5c7598;
}

#menu {
line-height:40px;
float:left;
}

#menu li {
list-style:none;
display:inline;
margin:5px;
}

#menu a {
text-decoration:none;
color:white;
padding:8px;
margin:5px;
font-size:18px;
font-family:COMIC SANS MS;
}

#menu a:hover{color:orange;font-weight:bolder;text-decoration:underline;}
#form{
	float:right;
	padding-right:8px;
	line-height:40px;
}
.content_wrapper{
	width:1000px;
	height:800px;
	background:white;
}

#side{
	width:200px;
	height:800px;
	float:left;
	background:black;
}
#side_title{
	width:200px;
	height:auto;
	
	font-size:22px;
	font-family: arial;
	text-align:center;
	background:white;
}

#category_title {
text-align:center;
}

#category_title li {
list-style:none;
margin:5px;
}

#category_title a {
text-decoration:none;
color:white;
padding:8px;
margin:5px;
font-size:20px;
font-family:COMIC SANS MS;
}
	
#category_title a:hover{color:orange;font-weight:bolder;text-decoration:underline;}

.product_wrapper{
	width:800px;
	
	float:right;
	background:white;
}

.shopping_cart {
	width:800px;
	height:50px;
	color:white;
	background:black;
	float:right;
	text-align:right;
	line-height:40px;
	
}
#product{
	width:800px;
	float:right;
	
	margin-left:30px;
	margin-bottom:10px; 
	background:blue;
}

#single_product {float:left; margin-left:45px; padding:10px;}
#single_product img{border:2px solid black;}

.foot_wrapper{
	width:1000px;
	height:50px;
	background:#afc0d7;
}